#canvas {
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    cursor: none;
    touch-action: none;
}
body {
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: auto;
    text-align: center;
}

#overlay {
    height: 0px;
    visibility: collapse;
    display: none;
}

.lock-screen {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
}

canvas {
    background-image: url('gfx/plain_grass.jpg');
}